body {
    background: #18453B;
    color: white;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
    font-style: oblique;
    text-align: center;
}

#index-page {
    color: #0db14b;
}

#about-MSU {
    color: #0db14b;
    font-size: 2em;
}

#mascot-img {
    width: 400px;
    padding: 15px;
}

.section-heading {
    padding-left: 1%;
    font-size: 1.1em;
    padding-bottom: 20px;
    border-bottom: 5px solid #97a2a2;
}

.list-heading {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: square;
}

.mascot-title {
    color: #0db14b;
    font-size: 2em;
}

.link-heading {
    width: 200px;
    margin: 0 auto;
    border: 5px solid #97a2a2;
    color: #f08521;
    font-size: 2.2em;
}

img {
    width: 100%;
}

.page {
    margin: 0 auto;
    width: 1100px;
    text-align: center;
}

.grid {
    width: 1000px;
    text-align: center;
    display: flex;
    padding: 20px 10px;
}

.block {
    width: 50%;
    margin: 0;
    padding: 0;
    
}

.link-body {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    
}

.link-body li a:hover {
    opacity: .5;
    transition: opacity ease-in-out .2s;
}

a:link {
    color: rgb(0, 191, 255);
}

a:visited {
    color: darkviolet;
}

a:hover {
    color: green;
}